asgiref==3.2.7            # via -r requirements.in, django
attrs==19.3.0             # via -r requirements.in, pytest
certifi==2020.4.5.1       # via -r requirements.in, requests
chardet==3.0.4            # via -r requirements.in, requests
django-cors-headers==3.3.0  # via -r requirements.in
django-filter==2.3.0      # via -r requirements.in
django==3.0.7             # via -r requirements.in, django-cors-headers, django-filter, djangorestframework, djangorestframework-simplejwt
djangorestframework-simplejwt==4.4.0  # via -r requirements.in
djangorestframework==3.11.0  # via -r requirements.in, djangorestframework-simplejwt
idna==2.9                 # via -r requirements.in, requests
importlib-metadata==1.6.0  # via -r requirements.in
more-itertools==8.2.0     # via -r requirements.in, pytest
packaging==20.3           # via -r requirements.in, pytest
pluggy==0.13.1            # via -r requirements.in, pytest
py==1.8.1                 # via -r requirements.in, pytest
pyjwt==1.7.1              # via -r requirements.in, djangorestframework-simplejwt
pyparsing==2.4.7          # via -r requirements.in, packaging
pytest-django==3.9.0      # via -r requirements.in
pytest==5.4.1             # via -r requirements.in, pytest-django
pytz==2019.3              # via -r requirements.in, django
requests==2.23.0          # via -r requirements.in
six==1.15.0               # via -r requirements.in, packaging
sqlparse==0.3.1           # via -r requirements.in, django
urllib3==1.25.9           # via -r requirements.in, requests
wcwidth==0.1.9            # via -r requirements.in, pytest
zipp==3.1.0               # via -r requirements.in, importlib-metadata
